<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NCexam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>tologin</description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>connection.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reg</display-name>
    <servlet-name>reg</servlet-name>
    <servlet-class>connection.reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question</display-name>
    <servlet-name>Question</servlet-name>
    <servlet-class>connection.Question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/Question</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Startest</display-name>
    <servlet-name>Startest</servlet-name>
    <servlet-class>dao.Startest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Startest</servlet-name>
    <url-pattern>/Startest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartTest</display-name>
    <servlet-name>StartTest</servlet-name>
    <servlet-class>dao.StartTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartTest</servlet-name>
    <url-pattern>/StartTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Marks</display-name>
    <servlet-name>Marks</servlet-name>
    <servlet-class>dao.Marks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Marks</servlet-name>
    <url-pattern>/Marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ppp</display-name>
    <servlet-name>ppp</servlet-name>
    <servlet-class>connection.ppp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ppp</servlet-name>
    <url-pattern>/ppp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
    <servlet-class>connection.Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Start1</display-name>
    <servlet-name>Start1</servlet-name>
    <servlet-class>connection.Start1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start1</servlet-name>
    <url-pattern>/Start1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results_all</display-name>
    <servlet-name>Results_all</servlet-name>
    <servlet-class>placement.Results_all</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results_all</servlet-name>
    <url-pattern>/Results_all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Retrieve_Results</display-name>
    <servlet-name>Retrieve_Results</servlet-name>
    <servlet-class>placement.Retrieve_Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retrieve_Results</servlet-name>
    <url-pattern>/Retrieve_Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSolver</display-name>
    <servlet-name>PSolver</servlet-name>
    <servlet-class>placement.PSolver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSolver</servlet-name>
    <url-pattern>/PSolver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDrive1</display-name>
    <servlet-name>updateDrive1</servlet-name>
    <servlet-class>placement.updateDrive1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDrive1</servlet-name>
    <url-pattern>/updateDrive1</url-pattern>
  </servlet-mapping>
</web-app>